<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <form action="/users/data" enctype="multipart/form-data" method="POST">
      <label>
        User name
        <input type="text" name="uName" />
      </label>
      <label>
        User age
        <input type="number" name="uAge" />
      </label>
      <label>
        User file
        <input type="file" name="uFile" />
      </label>
      <input type="submit" value="Надіслати" />
    </form>
  </body>
</html>
